*{
    box-sizing: border-box;
    margin: 0;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.parent div{
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%; 
    margin-bottom: 5px;

}



/* Mobile */

@media (max-width :767px) {

}

/* small screens */

@media (min-width :768px) and (max-width : 991px) {
    .parent div{
        width: calc(50% - 10px);
    }
}

/* medium screen */

@media (min-width: 992px){
    .parent div{
        width: calc(25% - 10px);
    }
}

/* large screens */

@media (min-width: 1200px){

}

/* X large screens */

@media (min-width: 1400px){

}

/* special one applied for all with specific on every one*/

@media (max-width: 1199px){

}