.div1{
    position: relative;
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: black;
    transform: rotate(45deg) translate(100px,100px);
    /* transform: matrix(1, 0, 0.1, 1, 0, 0); */
}

.div2{
    position: relative;
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    height: 200px;
    z-index: -1;
    background-color: rgb(255, 254, 254);
    transform: rotate(45deg) translate(-60px,-60px);
    /* transform: matrix(1, 0, 0.1, 1, 0, 0); */
}

.div3{
    position: relative;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    height: 300px;
    z-index: -2;
    background-color: rgb(164, 164, 197);
    transform: matrix(1, 0, 0, 1, 0, -214);
    border-bottom: 10px solid black;
}