.grid {
    background-color: #ddd;
    padding: 2px;
    width: 800px;
    height: 400px;
    display: grid;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 30px auto ;
}
  div{
    text-align: center;
    background-color: rgba(34, 111, 253, 0.644);
  }

  .up{
    width: 250px;
    height: 40px;
  }

  .down{
    width: 250px;
    height: 300px;
  }